.background {
    background-color: #0A1931;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #CCCCCC;
    position: relative;
    overflow: hidden;
}

.moon::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: #aaaaaac4;
    border-radius: 50%;
    position: fixed;
    top: 45%;
    left: 42%;
}

.moon::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #CCCCCC;
    border-radius: 50%;
    position: fixed;
    top: 44%;
    left: 50%;
}

.crater {
    position: fixed;
    background-color: #999999;
    border-radius: 50%;
}

.crater1 {
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
}

.crater2 {
    width: 12px;
    height: 12px;
    top: 59%;
    left: 49%;
}

.crater3 {
    width: 10px;
    height: 10px;
    top: 42%;
    left: 45%;
}

.crater4 {
    width: 18px;
    height: 18px;
    top: 43%;
    left: 56%;
}

.crater5 {
    width: 16px;
    height: 16px;
    top: 65%;
    left: 50%;
}

.crater6 {
    width: 14px;
    height: 14px;
    top: 46%;
    left: 41%;
}

.crater7 {
    width: 13px;
    height: 13px;
    top: 62%;
    left: 46%;
}

.crater8 {
    width: 11px;
    height: 11px;
    top: 33%;
    left: 48%;
}

.crater9 {
    width: 20px;
    height: 20px;
    top: 58%;
    left: 57%;
}

.rocket1 {
    position: fixed;
    bottom: 60%;
    left: 70%;
    transform: translateX(-50%);
    rotate: -45deg;
}

.rocket-body1 {
    width: 50px;
    height: 100px;
    background-color: #ff6666;
    border-radius: 10px;
    position: relative;
}

.rocket-window1 {
    width: 20px;
    height: 20px;
    background-color: #a0dcff;
    border-radius: 50%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rocket-fire1 {
    width: 20px;
    height: 50px;
    background-color: #FFA500;
    border-radius: 50%;
    position: fixed;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    animation: flicker 0.5s infinite alternate;
}

.rocket2 {
    position: fixed;
    bottom: 20%;
    left: 30%;
    transform: translateX(-50%);
    rotate: 135deg;
}

.rocket-body2 {
    width: 50px;
    height: 100px;
    background-color: #2b91ff;
    border-radius: 10px;
    position: relative;
}

.rocket-window2 {
    width: 20px;
    height: 20px;
    background-color: #a0dcff;
    border-radius: 50%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rocket-fire2 {
    width: 20px;
    height: 50px;
    background-color: #FFA500;
    border-radius: 50%;
    position: fixed;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    animation: flicker 0.5s infinite alternate;
}

@keyframes flicker {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}
